@font-face{
    font-family: Nunito San Light;
    src: url('../fonts/NunitoSans-Light.ttf')
}
@font-face{
    font-family: Nunito San Regular;
    src: url('../fonts/NunitoSans-Regular.ttf')
}
$color-white-light: rgba(255, 255, 255, 0.5);

$color-white: #fff;

$trasition: all 0.3s;

$color-green: #21bda1;

$cursor: pointer;

.type-1548{
    .item-agent{
        .info-agent{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($color: #000000, $alpha: 0.5);
            opacity: 0;
            transition: all 0.3s;
            i{
                cursor: $cursor;
                color: $color-white-light;
                
            }
            :hover{
                color: $color-white;
                transition: $trasition;
            }
            
        }
        :hover{
            opacity: 1;
        }
       p{
           color: $color-green;
           font-family: "Nunito San Light";
       }
       h3{
            font-family: "Nunito San Regular";
       }
       h3:hover{
            color: $color-green;
            transition: $trasition;
            cursor: $cursor;
        }
    }
}

@media (max-width:767px){
    .item-agent{
        h3{
            font-size: 18px;
        }
    }
}