@font-face{
    font-family: Nunito Sans;
    src: url(../fonts/NunitoSans-Light.ttf);
}

$size-text: 18px;

$background-color: #fff;

.type-1553{
    font-family: "Nunito Sans";
    .layer-top{
        background-color: $background-color - 7;
        h2{
           position: absolute;
           transform: translateY(-50%);
           top: 50%;
           z-index: 1;
           left: 5%;
        }
        .shape-bottom{
            transform: rotate(180deg);
            position: absolute;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            bottom: -1px;
            fill: #fff;
            svg{
                display: block;
                width: calc(150% + 1.3px);
                height: 190px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
    h2{
        font-size: $size-text + 30px;
    }
    p{
        font-size: $size-text;
    }

    @media (max-width: 768px) {
           .layer-top{
                h2{
                    font-size: $size-text!important;
                }
        }
    }
}
