@font-face{
    font-family: Nunito San Light;
    src: url('../fonts/NunitoSans-Light.ttf')
}

@font-face{
    font-family: Nunito San Regular;
    src: url('../fonts/NunitoSans-Regular.ttf')
}

$green-color: #21bda1;
$text-size: 18px;

.type-1533{
    padding: 60px 0;
    background: #f8f8f8;
    .content-intro{
        font-family: "Nunito San Regular";
        h4{
            color: $green-color;
        }
        .line-bottom{
            border-bottom: 2px solid $green-color;
            display: inline-block;
            span:hover{
                color: $green-color;
                cursor: pointer;
                transition: all 0.3s;
            }
        }
    }
    .content-description{
        .icon{
            background: $green-color;
            color: #fff;
            display: inline-block;
            padding: 20px;
            border-radius: 2px;
           i{
               font-size: $text-size + 14px;
           }
        }
        h4{
            font-family: "Nunito San Regular";
            padding: 15px 0;
        }
        p{
            font-family: "Nunito San Light";
            font-size: $text-size;
        }
    }
    
}

